# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Use of Code cells and Markdown cells
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List some development environment open source tools used in Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scientifics Computing (Pandas, Numpy)
2. Visualization (Matplotlib, Seaborn)
3. Machine Learning (Scikit-learn)
4. Deep Learning (Keras, TensorFlow, PyTorch)

| DataScienceTools |
|------------------|
| MySQL |
| MongoDB |
| PostgreSQL |
| ApacheCassandra |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutos to hours by diving by 60
200/60

3.3333333333333335

## Author

Juan Camilo Rodr√≠guez Casanova